{% extends "base.html" %}
{% block content %}

<h2>Admin Panel</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Action</th>
    </tr>

    {% for menu in menus %}
    <tr>
        <td>{{ menu.name }}</td>
        <td>{{ menu.price }}</td>
        <td>
            <a href="/edit-menu/{{ menu.id }}" class="btn btn-warning btn-sm">Edit</a>
            <a href="/delete-menu/{{ menu.id }}" class="btn btn-danger btn-sm">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}