{% extends "layout.html" %}
{% block title %}Menu{% endblock %}

{% block content %}

<h2 class="mb-4 text-center">MENU</h2>

<div class="row">
{% for item in menus %}
  <div class="col-md-4 mb-4">
    <div class="card shadow-sm h-100">
      <div class="card-body text-center">
        <h5 class="card-title">{{ item.name }}</h5>
        <p class="card-text text-muted">{{ item.price }} บาท</p>
        <a href="/order/{{ item.id }}" class="btn btn-primary">เพิ่มใส่ตะกร้า</a>
      </div>
    </div>
  </div>
{% endfor %}
</div>

{% endblock %}